@CHARSET "UTF-8";

div.pop-up {
	display: none;
	position: relative;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	font-size: 90%;
	word-break: break-all; 
	word-wrap:break-word;
}

div.loadingmsg h2{
	text-align:center;
	font-weight:bold;
	font-family: Roboto;
	font-size: 30px;
}

div.popcontainer {
  width: 580px;
  margin: 100px auto 0 auto;
  padding: 20px;
  /*background: #000;*/
  border: 1px solid #1a1a1a;
}

